<html>

<head>
    <title>WebSocket Chat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="header">
        <button class="hisb" onclick="loadHis()">history</button>
        <div id="chat">
            <h1 id="pp"></h1>
        </div>
    </div>

    <div class="footer">
        <input class="inp" id="message" type="text" placeholder="Type your message..." />
        <button class="butt" id="cl0" onclick="sendMessage()">Send</button>
    </div>



    <script>
        const ws = new WebSocket("ws://localhost:3000");

        ws.addEventListener("message", function (event) {
            const data = JSON.parse(event.data);

            if (data.type === "message") {
                addMessage(data.data);
            } else if (data.type === "his") {

                addhis(data.data);
            } else {
                return false;
            };
        });


        function loadHis() {
            ws.send(JSON.stringify({ type: "his", data: "message" }));

        }

        function sendMessage() {
            const message = document.getElementById("message").value;

            if (!message) return false;

            ws.send(JSON.stringify({ type: "message", data: message }));

            addMessage(message);
            document.getElementById("message").value = "";
        }

        function addMessage(message) {
            const node = document.createElement("P");
            const text = document.createTextNode(message);

            node.appendChild(text);

            document.getElementById("chat").appendChild(node);
        };


        function addhis(message) {
            const node = document.createElement("h2");
            const text = document.createTextNode(message);
            node.appendChild(text);

            const list = document.getElementById("chat").firstElementChild;
            document.getElementById("chat").insertBefore(node, list)
        }







        {
            var lll = document.getElementById("message")
            lll.addEventListener("keypress", function (event) {
                // If the user presses the "Enter" key on the keyboard
                if (event.key == "Enter") {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    var ccc = document.getElementById("cl0")
                    ccc.click();
                    // alert('hhgcjhg')
                }
            })
        };




    </script>


    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #EEE;
            color: white;
        }


        .header {
            width: 100%;
            height: 93%;


        }

        .footer {
            width: 100%;
            height: 7%;
            margin: 0px;
            padding: 0px;

        }

        .inp {
            height: 100%;
            width: 90%;
            margin: 0px;
            margin-left: 0px;
            padding-left: 22px;
            border: 1px;
            outline: none;
        }


        .butt {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 9%;
            border: 1px;
            background-color: #76D04B;
            color: #4F4D3F;
            font-size: 17px;

        }

        .hisb {
            margin: 0px;
            padding: 8px;
            width: 100%;
            border: 0px;
            background-color: #04B8BC;
            color: #4F4D3F;
            font-size: 16px;

        }

        ::placeholder {
            font-size: 16px;

            padding-left: 16px;
        }

        input[type=text] {

            font-size: 18px;

        }
    </style>


</body>

</html>